/*------------------固定区域---------------------------------*/

#fixed{
	width: 50px;
	height: 250px;
	position: fixed;
	bottom: 50px;
	right: 30px;
	background-color: #fff;
	z-index: 999999;
	box-shadow: 10px 10px 10px #EDEDED, 10px -10px 10px #EDEDED, -10px 10px 10px #EDEDED, -10px -10px 10px #EDEDED;
}
#fixed ul li{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
#fixed ul li:hover{
	background-color: #EDEDED;
}
#fixed ul li a span{
	font-size: 25px;
}
#fixed ul li:first-of-type a{
	position: relative;
}
#fixed ul li:first-of-type span:nth-of-type(2){
	width: 13px;
	height: 13px;
	display: block;
	background-color: #f00;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 13px;
	font-size: 12px;
	position: absolute;
	top: -13px;
	right: -3px;
}
#fixed ul li:last-of-type:hover{
	animation: move 3s 0s infinite;
	-webkit-animation: move 3s 0s infinite;
	transform-origin: middle;
	-webkit-transform-origin: middle;
	display: block;
}
@keyframes move {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	5% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	10% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	15% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	20% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	25% {
		-webkit-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	30% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
	35% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	,100%
}

@-webkit-keyframes move {
	0%,
	65% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	70% {
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg);
	}
	75% {
		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}
	80% {
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg);
	}
	85% {
		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}
	90% {
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg);
	}
	95% {
		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}













/*------------------固定区域---------------------------------*/